.container h1, .container h4{
  font-weight: 500;
}

.jumbotron {
  padding: 3rem 4rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}

.stepContainer {
  margin-top: 3rem;
}

.codeContainer {
  padding: 1.5rem;

  margin-top: 1rem;

  background-color: black;
  border-radius: 0.5rem;
}

.codeContainer pre {
  margin-bottom: 0rem;

  color: white;
}
